* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  min-height: 100%;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #ececec;
}

h1 {
  margin-top: 5rem;
  font-size: 4rem;
  color: #488aec;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 700px;
  font-size: 2.2rem;
  padding: 1rem;
  margin: 2rem;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  outline: none;
  border: none;
}
.input:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.input:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.todo-menu {
  /* min-height: 200px; */
  height: fit-content;
  width: 700px;
  background: #8e8a8a;
}

.card {
  width: 700px;
  height: 65px;
  background: #f5f5f5;
  list-style: none;
  border-bottom: 2px solid #ebebeb;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.card:hover {
  box-shadow: 0 8px 50px #23232333;
  opacity: 1;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}

li:hover .deleteBtn {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

.deleteBtn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  order: 1;
}

.checkbox {
  height: 100%;
  width: 1.3rem;
}
p {
  width: 86%;
  height: 80%;
  display: flex;
  align-items: center;
}

.edit-btn {
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

li:hover .edit-btn {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

#taskLeft {
  padding: 1rem;
}

.btns {
  height: 65px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
}

.btns button {
  border: 2px solid #488aec ;
  display: flex;
  padding: 0.75rem 1.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
  margin: 1rem;
}

.btns button:hover {
  scale: 1.1;

}

.btns button:focus,
.btns button:active {
  opacity: 1;
  box-shadow: none;
  background-color: #488aec;
  color: #fff;
}

.btns button svg {
  width: 1.25rem;
  height: 1.25rem;
}

